
.vs/
[Xx]64/
[Xx]86/
[Ww]in32/
[Dd]ebug/
[Rr]elease/
*.vcxproj.user
*.vcxproj.backup_*
*.aps

/build/
/build-*/
[Bb]uild/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CMakeUserPresets.json

[Bb]in/
[Oo]bj/

!Ditto/3rdParty/**/[Bb]in/
!Ditto/3rdParty/**/[Bb]in/*.dll

*.obj
!Assets/**/*.obj
!**/Assets/**/*.obj
*.o
*.ilk
*.pdb
*.idb
*.exp
*.res
*.recipe
*.tlog
*.lastbuildstate
*.exe
*.iobj
*.ipdb
*.ifc
*.ifc.d.json
*.module.json

__pycache__/
*.cache
*.csproj.FileListAbsolute.txt
*.AssemblyInfoInputs.cache
project.assets.json
project.nuget.cache

/Ditto/Temp/
imgui.ini
*.layout.backup
.claude/

Thumbs.db
.DS_Store
